[
 {
   elvis,
   [
    {config,
     [#{dirs => [
                 "src",
                 "src/collectors", "src/collectors/vm",
                 "src/contrib",
                 "src/formats",
                 "src/metrics"
                ],
        filter => "*.erl",
        rules => [
                  {elvis_style, line_length,
                   #{limit => 80, skip_comments => false}},
                  {elvis_style, invalid_dynamic_call,
                   #{ignore => [
                                prometheus_misc,
                                prometheus_registry,
                                prometheus_sup,
                                prometheus_instrumenter
                               ]}},
                  {elvis_style, god_modules, #{limit => 46}}
                 ],
        ruleset => erl_files
       },
      #{dirs => [
                 "src/model"
                ],
        filter => "prometheus_model_helpers.erl",
        rules => [
                  {elvis_style, line_length,
                   #{limit => 80}},
                  {elvis_style, invalid_dynamic_call,
                   #{ignore => [
                                prometheus_model_helpers %% FIXME: why create_mf calls collect_metrics??
                               ]}},
                  {elvis_style, god_modules, #{limit => 40}}
                 ],
        ruleset => erl_files
       },
      #{dirs => ["."],
        filter => "Makefile",
        ruleset => makefiles
       },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
       },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
