[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src"],
        filter => "*.erl",
        rules => [ {elvis_style, line_length, #{limit => 200, skip_comments => false}},
                   {elvis_style, invalid_dynamic_call, #{ignore => [prometheus_misc,
                                                                    prometheus_sup]}}
                 ],
        ruleset => erl_files
       },
      #{dirs => ["."],
        filter => "Makefile",
        ruleset => makefiles
       },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
       },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
