                                                % -*- mode: Erlang;-*-

{erl_opts, [debug_info, {i,"./_build/default/plugins/gpb/include/"}]}.
{plugins, [rebar3_gpb_plugin]}.
{provider_hooks, [
                  {pre, [{compile, {protobuf, compile}}]}
                 ]}.
{gpb_opts, [{i, "src/model"},
            {o_erl, "src/model"},
            {o_hrl, "include"},
            {strings_as_binaries, true},
            type_specs]}.
{deps, []}.
