%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.
{plugins, [{rebar3_gpb_plugin, "1.7.3"}]}.
{provider_hooks, [{pre,  [{compile, {protobuf, compile}}]},
                  {post, [{clean,   {protobuf, clean}}]}]}.
%% Awesomely bad hack to ensure prometheus_model is hidden from docs.
{post_hooks, [{compile, "bin/set-edoc-hidden src/model/prometheus_model.erl"}]}.
{gpb_opts, [{i, "src/model"},
            {o_erl, "src/model"},
            {o_hrl, "include"},
            defs_as_proplists, strings_as_binaries, type_specs]}.
{deps, []}.
{cover_enabled, true}.

{xref_extra_paths,[]}.
{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.

{profiles, [{docs, [{deps, [{edown, "0.8.1"}]}]}]}.
{edoc_opts, [{doclet, edown_doclet}, {subpackages, true}]}.
